*{
    font-family: 'Heebo', sans-serif;
font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}                     
.header{
 min-height:100vh;
 width: 100%;
 height:100%;
 background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg.jpg);
justify-content: center;
background-position:center;
background-size:cover;
position: relative;
}
.header img{
    height:15vh;
    width:12vw;
    padding: 3vh 3vw;
}
.nav-base{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items:center;
}
.nav-base i{
    display:none;
}
.nav-link ul{
    margin-left:25vw;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 5vh;
    position: relative;
}
.nav-link ul li a{
   color:white ;
   text-decoration:none;
}
.nav-link ul li::after{
    transition: 0.5s;
    color: red;
    content:'';
    height:2px;
    background:#f44336;
    display: block;
    margin:auto;
    width:0%;
}
.nav-link ul li:hover::after{
    width:100%;
}

.textbox{
    color:white;
    position:absolute;
    width:90%;
    font-size: 3vh;
    transform:translate(-50%,-50%);
    text-align: center;
    top:50%;
    left:50%;
}
.textbox h1{
    padding: 4vh 4vw;
}
.btn{
    color:white;
    display: inline-block;
    text-decoration:none;
    border:1px solid white;
 position: relative;
   /* top: 30vh; */
   /* transform: translate(-50%); */
    padding:2vh 2vw;
    transition:0.5s;
    top:4vh;
    background:transparent;

}
.btn:hover{
    background: red;
}
.nav-link i{
    display: none;
   }
.courses{
    display:block;
    text-align: center;

   }
.courses h1,p{
    padding:2vh;
}
.degrees{
    display:flex;
    
}
.courses{
    padding:2vh;
    
}
.cse,.it,.ee{
    margin:2vh;
    background: #fff3f3;
    /* display: inline-block; */
}
.campus{
    display:block;
    text-align: center;
    padding:2vh;

}
.campuses{
    height:2vh;
    width: 2vw;
    display: flex;
    left:-3vw;
}

.kol img{
    width:30vw;
    height:50vh;
    border-radius:10px;
    opacity:0.5;
    transition: 0.5s;
}
.lon img{
    width:30vw;
    height: 50vh;
    opacity:0.5;
    border-radius:10px;
    transition: 0.5s;
}
.ny img{
    width:30vw;
    height:50vh;
    border-radius:10px;
    opacity:0.5;
    /* background: cover; */
    transition: 0.5s;
}
.kol img:hover, label:hover{
    opacity: 1;
}
.lon img:hover, .label:hover{
    opacity: 1;
}
.ny img:hover, .label:hover{
    opacity: 1;
}

.kol,.lon,.ny{
    /* flex-basis:32%; */
padding:2vh;
position:relative;
}
.label{
    position: absolute;
    color:red;
    font-size: 8vh;
    left:15vw;
    top:18vh;
    font: bolder;
    transform:translate(-50%);
    opacity: 1;
    z-index: 1;
}
.hfacilities{
    display: block;
    position: absolute;
    top:208vh;
    /* background:red; */
    left:45vw;
    padding:2vh;
   
}
.facilities{
    display: flex;
    position: absolute;
    top:220vh;
    text-align: center;
    left:5vw;
    }
    .canteen,.library,.play{
        display: flex;
        padding: 2vh;
        border-radius:4vw;
        width:30vw;
    }
    .canteen:hover,.library:hover,.play:hover{
        opacity: 0.5;
    }
    .footer{
        display: block;
        position: absolute;
        top:280vh;
        text-align: center;
        padding: 2vh;
        /* left:-6vw; */
        width: 100%;
        background-color: #fff3f3;
    }
    .footer h4{
        padding:2vh;
       
    }

@media(max-width:500px)  {
    .textbox{
        font-size: 2vh;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        background: red;
        position: absolute;
        display:none;
        height:100vh;
        top:0;
        right: 0vw;
        text-align: left;
        z-index: 2;
       
    }
    .nav-link ul{
        text-align: center;
        margin:0;
        
    }
    .nav-link ul li::after{
        transition:0.5s;
        color: white;
        content:'';
        height:2px;
        background:white;
        display: block;
        margin:auto;
        width:0%;
    }
    .nav-link ul li:hover::after{
        width:100%;
    }
    
    #bar{
        display: block;
        color: white;
        position: relative;
        top:-4vh;
        right:-4vw;
        font-size: 4vh;
        cursor:pointer;
    }
    #x{
        cursor: pointer;
       display:block;
       padding:0;
       position: relative;
       font-size: 4vh;
       top: 1.5vh;
    }
    .nav-link ul {
        padding: 4vh;
    }
    .degrees{
        display:inline-block;
        
    }
    .courses{
        padding:2vh;
        
    }
    .cse,.it,.ee{
        margin:2vh;
        background: #fff3f3;
        /* display: inline-block; */
    }
    .campuses{
       
        /* width: 2vw; */
        display: block;
        padding: 2vh;
    }
    
    .kol img{
        /* background:rgba(226,0,0,0.7); */
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        /* transition: 0.5s; */
    }
    .lon img{
        width:80vw;
        height: 50vw;
        opacity:1;
        border-radius:10px;
        /* transition: 0.5s; */
    }
    .ny img{
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        background: cover;
    }
    .kol img:hover,.lon img:hover,.ny img:hover{
        opacity: 0.5;
        /* transition: 0.5s; */
    }
    
    .kol,.lon,.ny{
        /* flex-basis:32%; */
    /* padding:2vh; */
    

    }
    .label{
        display: block;
        text-align: center;
        color:red;
        width: 2vw;
        font-size: 6vw;
        font: bolder;
        transform:translate(-50%,-50%);
        opacity: 1;
        left: 29vw;
        top:29vw;
    }
    .label h3{
        display: inline;
        background: rgba(255,255,255,0.4);
    }
    .facilities{
        display: block;
        position: absolute;
        top:585vw;
        text-align: center;
        left:9vw;
        }
        .canteen,.library,.play{
            display: block;
            padding: 4vw;
            border-radius:6vw;
            width:85vw;
        }
        .canteen:hover,.library:hover,.play:hover{
            opacity: 0.5;
        }
        .hfacilities{
            display: block;
            position: absolute;
            top:575vw;
            /* background:red; */
            left:35vw;
            padding:1vh;
           
        }
        .footer{
            display: block;
            position: absolute;
            top:800vw;
            text-align: center;
            padding: 2vh;
            left:0vw;
            width: 100%;
            background-color: #fff3f3;
        }
        .footer h4{
            padding:2vh;
           
        }
}
@media(min-width:600px) and (max-width:700px)
{
    .textbox{
        font-size: 2vh;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        background: red;
        position: absolute;
        display:none;
        height:100vh;
        top:0;
        right: 0vw;
        text-align: left;
        z-index: 2;
       
    }
    .nav-link ul{
        text-align: center;
        margin:0;
        
    }
    .nav-link ul li::after{
        transition:0.5s;
        color: white;
        content:'';
        height:2px;
        background:white;
        display: block;
        margin:auto;
        width:0%;
    }
    .nav-link ul li:hover::after{
        width:100%;
    }
    
    #bar{
        display: block;
        color: white;
        position: relative;
        top:-4vh;
        right:-4vw;
        font-size: 4vh;
        cursor:pointer;
    }
    #x{
        cursor: pointer;
       display:block;
       padding:0;
       position: relative;
       font-size: 4vh;
       top: 1.5vh;
    }
    .nav-link ul {
        padding: 4vh;
    }
    .degrees{
        display:inline-block;
        
    }
    .courses{
        padding:2vh;
        
    }
    .cse,.it,.ee{
        margin:2vh;
        background: #fff3f3;
        /* display: inline-block; */
    }
    .campuses{
       
        /* width: 2vw; */
        display: block;
        padding: 2vh;
    }
    
    .kol img{
        /* background:rgba(226,0,0,0.7); */
        width:86vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        /* transition: 0.5s; */
    }
    .lon img{
        width:86vw;
        height: 50vw;
        opacity:1;
        border-radius:10px;
        /* transition: 0.5s; */
    }
    .ny img{
        width:86vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        background: cover;
    }
    .kol img:hover,.lon img:hover,.ny img:hover{
        opacity: 0.5;
        /* transition: 0.5s; */
    }
    
    .kol,.lon,.ny{
        /* flex-basis:32%; */
    padding:2vh;
    }
    .label{
        display: block;
        text-align: center;
        color:red;
        width: 2vw;
        font-size: 6vw;
        font: bolder;
        transform:translate(-50%,-50%);
        opacity: 1;
        left: 32vw;
        top:29vw;
    }
    .label h3{
        display: inline;
        background: rgba(255,255,255,0.4);
    }
    .facilities{
        display: block;
        position: absolute;
        top:440vw;
        text-align: center;
        left:6vw;
        }
        .canteen,.library,.play{
            display: block;
            padding: 4vw;
            border-radius:6vw;
            width:90vw;
        }
        .canteen:hover,.library:hover,.play:hover{
            opacity: 0.5;
        }
        .hfacilities{
            display: block;
            position: absolute;
            top:434vw;
            /* background:red; */
            left:40vw;
            padding:1vh;
           
        }
        .footer{
            display: block;
            position: absolute;
            top:647vw;
            text-align: center;
            padding: 2vh;
            left:0vw;
            width: 100%;
            background-color: #fff3f3;
        }
        .footer h4{
            padding:2vh;
           
        }
}
@media(min-width:500px) and (max-width:600px)
{
    .textbox{
        font-size: 2vh;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        background: red;
        position: absolute;
        display:none;
        height:100vh;
        top:0;
        right: 0vw;
        text-align: left;
        z-index: 2;
       
    }
    .nav-link ul{
        text-align: center;
        margin:0;
        
    }
    .nav-link ul li::after{
        transition:0.5s;
        color: white;
        content:'';
        height:2px;
        background:white;
        display: block;
        margin:auto;
        width:0%;
    }
    .nav-link ul li:hover::after{
        width:100%;
    }
    
    #bar{
        display: block;
        color: white;
        position: relative;
        top:-4vh;
        right:-4vw;
        font-size: 4vh;
        cursor:pointer;
    }
    #x{
        cursor: pointer;
       display:block;
       padding:0;
       position: relative;
       font-size: 4vh;
       top: 1.5vh;
    }
    .nav-link ul {
        padding: 4vh;
    }
    .degrees{
        display:inline-block;
        
    }
    .courses{
        padding:2vh;
        
    }
    .cse,.it,.ee{
        margin:2vh;
        background: #fff3f3;
        /* display: inline-block; */
    }
    .campuses{
       
        /* width: 2vw; */
        display: block;
        padding: 2vh;
    }
    
    .kol img{
        /* background:rgba(226,0,0,0.7); */
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        /* transition: 0.5s; */
    }
    .lon img{
        width:80vw;
        height: 50vw;
        opacity:1;
        border-radius:10px;
        /* transition: 0.5s; */
    }
    .ny img{
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        background: cover;
    }
    .kol img:hover,.lon img:hover,.ny img:hover{
        opacity: 0.5;
        /* transition: 0.5s; */
    }
    
    .kol,.lon,.ny{
        /* flex-basis:32%; */
    padding:2vh;
    

    }
    .label{
        display: block;
        text-align: center;
        color:red;
        width: 2vw;
        font-size: 6vw;
        font: bolder;
        transform:translate(-50%,-50%);
        opacity: 1;
        left: 29vw;
        top:29vw;
    }
    .label h3{
        display: inline;
        background: rgba(255,255,255,0.4);
    }
    .facilities{
        display: block;
        position: absolute;
        top:520vw;
        text-align: center;
        left:6vw;
        }
        .canteen,.library,.play{
            display: block;
            padding: 4vw;
            border-radius:6vw;
            width:90vw;
        }
        .canteen:hover,.library:hover,.play:hover{
            opacity: 0.5;
        }
        .hfacilities{
            display: block;
            position: absolute;
            top:506vw;
            /* background:red; */
            left:35vw;
            padding:1vh;
           
        }
        .footer{
            display: block;
            position: absolute;
            top:740vw;
            text-align: center;
            padding: 2vh;
            left:0vw;
            width: 100%;
            background-color: #fff3f3;
        }
        .footer h4{
            padding:2vh;
           
        }
}
@media(min-width:900px) and (max-width:1000px)
{
    .textbox{
        font-size: 2vh;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        background: red;
        position: absolute;
        display:none;
        height:100vh;
        top:0;
        right: 0vw;
        text-align: left;
        z-index: 2;
       
    }
    .nav-link ul{
        text-align: center;
        margin:0;
        
    }
    .nav-link ul li::after{
        transition:0.5s;
        color: white;
        content:'';
        height:2px;
        background:white;
        display: block;
        margin:auto;
        width:0%;
    }
    .nav-link ul li:hover::after{
        width:100%;
    }
    
    #bar{
        display: block;
        color: white;
        position: relative;
        top:-4vh;
        right:-4vw;
        font-size: 4vh;
        cursor:pointer;
    }
    #x{
        cursor: pointer;
       display:block;
       padding:0;
       position: relative;
       font-size: 4vh;
       top: 1.5vh;
    }
    .nav-link ul {
        padding: 4vh;
    }
    .degrees{
        display:inline-block;
        
    }
    .courses{
        padding:2vh;
        
    }
    .cse,.it,.ee{
        margin:2vh;
        background: #fff3f3;
        /* display: inline-block; */
    }
    .campuses{
       
        /* width: 2vw; */
        display: block;
        padding: 2vh;
    }
    
    .kol img{
        /* background:rgba(226,0,0,0.7); */
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        /* transition: 0.5s; */
    }
    .lon img{
        width:80vw;
        height: 50vw;
        opacity:1;
        border-radius:10px;
        /* transition: 0.5s; */
    }
    .ny img{
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        background: cover;
    }
    .kol img:hover,.lon img:hover,.ny img:hover{
        opacity: 0.5;
        /* transition: 0.5s; */
    }
    
    .kol,.lon,.ny{
        /* flex-basis:32%; */
    padding:2vh;
    

    }
    .label{
        display: block;
        text-align: center;
        color:red;
        width: 2vw;
        font-size: 6vw;
        font: bolder;
        transform:translate(-50%,-50%);
        opacity: 1;
        left: 29vw;
        top:29vw;
    }
    .label h3{
        display: inline;
        background: rgba(255,255,255,0.4);
    }
    .facilities{
        display: block;
        position: absolute;
        top:340vw;
        text-align: center;
        left:3vw;
        }
        .canteen,.library,.play{
            display: block;
            padding: 4vw;
            border-radius:6vw;
            width:90vw;
        }
        .canteen:hover,.library:hover,.play:hover{
            opacity: 0.5;
        }
        .hfacilities{
            display: block;
            position: absolute;
            top:330vw;
            /* background:red; */
            left:40vw;
            padding:1vh;
           
        }
        .footer{
            display: block;
            position: absolute;
            top:540vw;
            text-align: center;
            padding: 2vh;
            left:0vw;
            width: 100%;
            background-color: #fff3f3;
        }
        .footer h4{
            padding:2vh;
           
        }
}
@media(min-width:700px) and (max-width:800px)
{
    .textbox{
        font-size: 2vh;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        background: red;
        position: absolute;
        display:none;
        height:100vh;
        top:0;
        right: 0vw;
        text-align: left;
        z-index: 2;
       
    }
    .nav-link ul{
        text-align: center;
        margin:0;
        
    }
    .nav-link ul li::after{
        transition:0.5s;
        color: white;
        content:'';
        height:2px;
        background:white;
        display: block;
        margin:auto;
        width:0%;
    }
    .nav-link ul li:hover::after{
        width:100%;
    }
    
    #bar{
        display: block;
        color: white;
        position: relative;
        top:-4vh;
        right:-4vw;
        font-size: 4vh;
        cursor:pointer;
    }
    #x{
        cursor: pointer;
       display:block;
       padding:0;
       position: relative;
       font-size: 4vh;
       top: 1.5vh;
    }
    .nav-link ul {
        padding: 4vh;
    }
    .degrees{
        display:inline-block;
        
    }
    .courses{
        padding:2vh;
        
    }
    .cse,.it,.ee{
        margin:2vh;
        background: #fff3f3;
        /* display: inline-block; */
    }
    .campuses{
       
        /* width: 2vw; */
        display: block;
        padding: 2vh;
    }
    
    .kol img{
        /* background:rgba(226,0,0,0.7); */
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        /* transition: 0.5s; */
    }
    .lon img{
        width:80vw;
        height: 50vw;
        opacity:1;
        border-radius:10px;
        /* transition: 0.5s; */
    }
    .ny img{
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        background: cover;
    }
    .kol img:hover,.lon img:hover,.ny img:hover{
        opacity: 0.5;
        /* transition: 0.5s; */
    }
    
    .kol,.lon,.ny{
        /* flex-basis:32%; */
    padding:2vh;
    

    }
    .label{
        display: block;
        text-align: center;
        color:red;
        width: 2vw;
        font-size: 6vw;
        font: bolder;
        transform:translate(-50%,-50%);
        opacity: 1;
        left: 29vw;
        top:29vw;
    }
    .label h3{
        display: inline;
        background: rgba(255,255,255,0.4);
    }
    .facilities{
        display: block;
        position: absolute;
        top:400vw;
        text-align: center;
        left:3vw;
        }
        .canteen,.library,.play{
            display: block;
            padding: 4vw;
            border-radius:6vw;
            width:90vw;
        }
        .canteen:hover,.library:hover,.play:hover{
            opacity: 0.5;
        }
        .hfacilities{
            display: block;
            position: absolute;
            top:392vw;
            /* background:red; */
            left:40vw;
            padding:1vh;
           
        }
        .footer{
            display: block;
            position: absolute;
            top:610vw;
            text-align: center;
            padding: 2vh;
            left:0vw;
            width: 100%;
            background-color: #fff3f3;
        }
        .footer h4{
            padding:2vh;
           
        }
}
@media(min-width:800px) and (max-width:900px)
{
    .textbox{
        font-size: 2vh;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        background: red;
        position: absolute;
        display:none;
        height:100vh;
        top:0;
        right: 0vw;
        text-align: left;
        z-index: 2;
       
    }
    .nav-link ul{
        text-align: center;
        margin:0;
        
    }
    .nav-link ul li::after{
        transition:0.5s;
        color: white;
        content:'';
        height:2px;
        background:white;
        display: block;
        margin:auto;
        width:0%;
    }
    .nav-link ul li:hover::after{
        width:100%;
    }
    
    #bar{
        display: block;
        color: white;
        position: relative;
        top:-4vh;
        right:-4vw;
        font-size: 4vh;
        cursor:pointer;
    }
    #x{
        cursor: pointer;
       display:block;
       padding:0;
       position: relative;
       font-size: 4vh;
       top: 1.5vh;
    }
    .nav-link ul {
        padding: 4vh;
    }
    .degrees{
        display:inline-block;
        
    }
    .courses{
        padding:2vh;
        
    }
    .cse,.it,.ee{
        margin:2vh;
        background: #fff3f3;
        /* display: inline-block; */
    }
    .campuses{
       
        /* width: 2vw; */
        display: block;
        padding: 2vh;
    }
    
    .kol img{
        /* background:rgba(226,0,0,0.7); */
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        /* transition: 0.5s; */
    }
    .lon img{
        width:80vw;
        height: 50vw;
        opacity:1;
        border-radius:10px;
        /* transition: 0.5s; */
    }
    .ny img{
        width:80vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        background: cover;
    }
    .kol img:hover,.lon img:hover,.ny img:hover{
        opacity: 0.5;
        /* transition: 0.5s; */
    }
    
    .kol,.lon,.ny{
        /* flex-basis:32%; */
    padding:2vh;
    

    }
    .label{
        display: block;
        text-align: center;
        color:red;
        width: 2vw;
        font-size: 6vw;
        font: bolder;
        transform:translate(-50%,-50%);
        opacity: 1;
        left: 29vw;
        top:29vw;
    }
    .label h3{
        display: inline;
        background: rgba(255,255,255,0.4);
    }
    .facilities{
        display: block;
        position: absolute;
        top:360vw;
        text-align: center;
        left:3vw;
        }
        .canteen,.library,.play{
            display: block;
            padding: 4vw;
            border-radius:6vw;
            width:90vw;
        }
        .canteen:hover,.library:hover,.play:hover{
            opacity: 0.5;
        }
        .hfacilities{
            display: block;
            position: absolute;
            top:352vw;
            /* background:red; */
            left:40vw;
            padding:1vh;
           
        }
        .footer{
            display: block;
            position: absolute;
            top:570vw;
            text-align: center;
            padding: 2vh;
            left:0vw;
            width: 100%;
            background-color: #fff3f3;
        }
        .footer h4{
            padding:2vh;
           
        }
}


@media(min-width:1000px) and (max-width:1400px)
{
    .textbox{
        font-size: 2vh;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        background: red;
        position: absolute;
        display:none;
        height:100vh;
        top:0;
        right: 0vw;
        text-align: left;
        z-index: 2;
       
    }
    .nav-link ul{
        text-align: center;
        margin:0;
        
    }
    .nav-link ul li::after{
        transition:0.5s;
        color: white;
        content:'';
        height:2px;
        background:white;
        display: block;
        margin:auto;
        width:0%;
    }
    .nav-link ul li:hover::after{
        width:100%;
    }
    
    #bar{
        display: block;
        color: white;
        position: relative;
        top:-4vh;
        right:-4vw;
        font-size: 4vh;
        cursor:pointer;
    }
    #x{
        cursor: pointer;
       display:block;
       padding:0;
       position: relative;
       font-size: 4vh;
       top: 1.5vh;
    }
    .nav-link ul {
        padding: 4vh;
    }
    .degrees{
        display:inline-block;
        
    }
    .courses{
        padding:2vh;
        
    }
    .cse,.it,.ee{
        margin:2vh;
        background: #fff3f3;
        /* display: inline-block; */
    }
    .campuses{
       
        /* width: 2vw; */
        display: block;
        padding: 2vh;
    }
    
    .kol img{
        /* background:rgba(226,0,0,0.7); */
        width:90vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        /* transition: 0.5s; */
    }
    .lon img{
        width:90vw;
        height: 50vw;
        opacity:1;
        border-radius:10px;
        /* transition: 0.5s; */
    }
    .ny img{
        width:90vw;
        height:50vw;
        border-radius:10px;
        opacity:1;
        background: cover;
    }
    .kol img:hover,.lon img:hover,.ny img:hover{
        opacity: 0.5;
        /* transition: 0.5s; */
    }
    
    .kol,.lon,.ny{
        /* flex-basis:32%; */
    padding:2vh;
    

    }
    .label{
        display: block;
        text-align: center;
        color:red;
        width: 2vw;
        font-size: 6vw;
        font: bolder;
        transform:translate(-50%,-50%);
        opacity: 1;
        left: 34vw;
        top:29vw;
    }
    .label h3{
        display: inline;
        background: rgba(255,255,255,0.4);
    }
    .facilities{
        display: block;
        position: absolute;
        top:300vw;
        text-align: center;
        left:3vw;
        }
        .canteen,.library,.play{
            display: block;
            padding: 4vw;
            border-radius:6vw;
            width:90vw;
        }
        .canteen:hover,.library:hover,.play:hover{
            opacity: 0.5;
        }
        .hfacilities{
            display: block;
            position: absolute;
            top:295vw;
            font-size:4vw;
            /* background:red; */
            left:40vw;
            padding:1vh;
           
        }
        .facilities h3{
            font-size:4vw;
        }
        .footer{
            display: block;
            position: absolute;
            top:510vw;
            text-align: center;
            padding: 2vh;
            left:0vw;
            width: 100%;
            background-color: #fff3f3;
        }
        .footer h4{
            padding:2vh;
           
        }
}
